.card {
    background: var(--secondary);
    color: var(--primary);
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    max-width: 420px;
    margin-top: 20px;
    
    .card_img {
        border-radius: 5px;
        align-self: center;
    }

    .date {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    .read_more {
        color: var(--accent);
        text-decoration: none;
        display: inline-flex;
        align-items: center;
        gap: 6px;
        padding-bottom: 20px;
    }
}