Header {
  .bg {
    background: var(--secondary);
    color: var(--primary);

    .bg-area {
      height: 47px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-left: 46px;
      margin-right: 46px;

      .bg-left {
        display: flex;
        gap: 24px;
      }

      .bg-item {
        display: inline-flex;
        gap: 8px;
      }

      .bg-right {
        display: flex;
        gap: 19px;
      }

      .social img {
        display: flex;
      }
    }
  }

  .nav-area {
    height: 90px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    margin-left: 46px;
    margin-right: 46px;

    .navlinks {
      display: flex;
      gap: 34px;

      .link {
        text-decoration: none;
        color: var(--secondary);
      }

      .link.is-active {
        color: var(--accent);
      }
    }


    .btn-book {
      justify-self: end;

      &:hover {
        background-color: var(--color-button-hover-background);
        color: var(--primary);
      }
    }
  }
}