.not_found {
    height: 938px;
    background: var(--accent_3);
    color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    .not_found_area {
        max-width: 880px;
        width: 100%;

        h5 {
            margin-bottom: 10px;
        }

        h1 {
            color: var(--accent);
            margin-bottom: 10px;
        }

        .body-text {
            margin-bottom: 20px;
        }

        .btn-home {
            &:hover {
                background-color: var(--primary);
                color: var(--secondary);
            }
        }
    }
}