.testimonials::after {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--accent_3);
}

.testimonials {
    margin-top: 80px;
    position: relative;
    padding: 70px 0;
    color: var(--primary);

    .Bg {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .container {
        position: relative;
        z-index: 1;

        .testimonials_area {

            h4 {
                color: var(--accent);
                margin-bottom: 20px;
                text-align: center;
            }

            h3 {
                margin-bottom: 12px;
                text-align: center;
            }

            .body-text {
                margin-bottom: 20px;
                text-align: center;
            }

            .testimonials_grid {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 24px;

                .item {
                    background: var(--primary);
                    color: var(--secondary);
                    padding: 20px 20px 0 20px;
                    border-radius: 10px;

                    .stars {
                        margin-bottom: 20px;
                    }

                    .quotes {
                        margin: 60px 20px 0 75px;
                    }

                    .body-text {
                        text-align: left;
                        max-width: 350px;
                    }

                    .author {
                        display: flex;
                        align-items: center;
                        gap: 22px;
                        margin-bottom: 20px;

                        .avatar {
                            border-radius: 100%;
                        }

                        .role {
                            display: inline;
                            color: var(--secondary);
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}